<div>
  <h1>Sinatra Application </h1> 
  <p> Technologies used: SQLite, Ruby, Sinatra, HTML, CSS</p>
  <ul>Basic Functionality:
  <li>about page: Bugs/Difficulties I have encountered</li>
  <li>contact page: my email</li>
  <li>student page: view all students, create a student, edit a student, delete a student</li>
  <li>comment page: create a comment, view a comment, view all comments</li>
  <li>video page: a video tag with a sample 5s video</li>
  <li>login/logout: user has to login to create/edit/delete a student record. username: coen 164, password: 123456</li>
  </ul>
</div>


