
    <div class="col-md-12">
        <div class="row">
            <div>
                <video width="500px" height="400px" src="video.mp4" controls style="margin: 0 auto;display: block;"></video>
            </div>
        </div>

    </div>

